.mainSubjects {
    width: 20vw;
}

#first {
    margin-top: 20px;
}

input {
    -webkit-appearance: none;
    background: #fff;
    background-size: 70% 100%;
    border-radius: 5px;
    height: 7px;
    margin-right: 15px;
    pointer-events: none;
    width: 94%;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ff8906;
    border: solid 3px #dedede;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 #555;
    height: 20px;
    transition: background 0.3s ease-in-out;
    width: 20px;
}

input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
