.header {
    align-items: center;
    border-bottom: 1px solid #e1e4e8;
    display: flex;
    font-weight: bold;
    height: 3.5rem;
    position: sticky;
    width: 100%;
}

.paginas {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 70%;
}

.header a {
    padding-right: 16px;
    text-decoration: none;
}

#logo {
    width: 15%;
}

.icon {
    color: #fff;
    font-size: 2rem;
    margin-left: 30px;
}

a {
    color: #fff;
}

a.active {
    color: #f9bc60;
}
